<!DOCTYPE HTML>
<html>
  <head>
    <script src='/static/xmlhttp6.js'></script>
  	<style>
    .wrapper 
    {
        position: absolute;
        top:  50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    .hidden
    {
    	display: block;
    }

  </style>
  </head>
  <body>
  	<a href="index.html">Back</a>
  	<div id="my_wrapper" class="wrapper">
  	<h1 id="movie_title">{{movie_title}}</h1>
  	<div id="thing" class="hidden">{{trailer_url}}</div>
   <!-- <script>
    console.log("here");
    var thing = get_trailer_data();
    var vid = document.createElement("iframe");
    vid.width = 500;
    vid.height = 400;
    vid.src = thing;
    var wrapper = document.getElementById("my_wrapper");
    console.log(vid.src);
    wrapper.appendChild(vid);
    </script>-->


    <iframe width="500" height="400" src={{trailer_url}}></iframe>
    <!--<script>
        var vid = document.createElement("iframe");
        vid.width = 400;
        vid.height = 400;
        vid.src = document.getElementById("thing").innerHTML;
        var wrapper = document.getElementById("my_wrapper");
        console.log(vid.src);
        wrapper.appendChild(vid);
    </script>-->
  </div>
  </body>
</html>