{% extends "layout.html" %}

{% block content %}
  <main class="hero-section">
    <div class="container">
      
      <div class="section-content">
        <h2>Find Cheapest Movie Tickets.</h2>
        <a href="#" class="btn-primary">Sign up</a>
        <a href="{{ url_for('about') }}" class="btn-secondary">Learn more</a>
      </div>
      <div class="section-device">
        <img src="static/img/device.png">
      </div>
        <div class="clearfix"></div>
    </div>
        <div id="googleMap" style="width:30%;height:300px;"></div>
<script>
function myMap() 
{
    var mapProp= 
    {
    center:new google.maps.LatLng(50,50),
    zoom:12,
    };
    my_map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
    if(navigator.geolocation)
    {
        navigator.geolocation.getCurrentPosition(set_map);
    }
}

function set_map(pos)
{
    var lat = pos.coords.latitude;
    var long = pos.coords.longitude;
    my_map.setCenter(new google.maps.LatLng(lat, long));
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCPLJvdh2b4defuy1vJtshIiOR655Wnby4&callback=myMap"></script>

  </main>
{% endblock %}