<!DOCTYPE HTML>
<html>
  <head>
    <script src='/static/js/buttons.js'></script>
    <script src='/static/js/ajax.js'></script>
  	<style>
    .wrapper 
    {
        position: absolute;
        top:  50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

  </style>
  </head>
  <body>
    <div>Movie Theatre:</div>
    <br>
    <div id="theatre_entry_error" display=none></div>
    <input type="text" id="movie_theatre_entry">
    <button id="theatre_lookup_button" onclick="lookup_theatre()">Look Up</button>
    <div id="highest_rated_theatre_location"></div>
    <div id="lowest_price_theatre_location"></div>
    <br>
    <div id="theatre_info" display="none">
      <div id="theatre_name_location"></div>
      <br>
      <div id="average_price_location"></div>
      <br>
      <div id="average_rating_location"></div>
      <br>
      <div id="user_price_location"></div>
      <br>
      <div id="user_rating_location"></div>
      <br>
      <br>
      <input type="text" id="update_price_entry">
      <button onclick="update_price()">update price</button>>
      <br>
      <input type="text" id="update_rating_entry">
      <button onclick="update_rating()">update rating</button>
    </div>
    <br>
  <script src='static/js/best_theatres.js'></script>
  <script src='/static/js/display.js'></script>
  </body>
</html>