<!DOCTYPE HTML>
<html>
  <head>
    <link rel="stylesheet" href="static/style.css">
    <script src='/static/xmlhttp24.js'></script>
    <script src='/static/buttons24.js'></script>
  </head>
  <body>
    <div id="login_information" display="none"></div>
    <h1>Datastore Practice </h1>
    <div id="message_display"></div>
    <div>
      <div>Username:</div>
      <input type="text" id="username_entry">
      <br>
      <div>Password</div>
      <input type="text" id="password_entry">
      <br>
      <button onclick="add_user();">Sign up</button>
      <span style="display:inline-block; width: 20;"></span>
      <button onclick="login();">Login</button>
      <br>
      <button onclick="display_users();">Display Users</button>
      <a href="/templates/otherpage4.html">Other Page</a>
      <br>
      <button onclick="logout();">Log Out</button>
    </div>
    <div id="display_users_space"></div>
    <script src='/static/login_info3.js'></script>
  </body>
</html>